:root {
  --screen-background: #ccd0d3;
  --display-background: #aba2bd;
}

html {
  cursor: url('assets/crosshair.png'), pointer;
  user-select: none;
}

.cursor-default {
  cursor: url('assets/crosshair.png'), default;
  user-select: none;
}

.cursor-bleed {
  cursor: url('assets/crosshair-bleed.png'), default; 
  user-select: none;
}

body{
  background: var(--screen-background);
  background-image: url("assets/concrete-texture.png");
  background-repeat: none;
  height: 100%;
  overflow-x: hidden;
}

.counter-display{
  border: 10px solid black;
  background-color: var(--display-background);
  background-image: url("assets/xtexture.png");
}

.counter-container{
  background-color: white;
  border: 10px solid black;
}

.clicker-target-1{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #2600ff;
  border: 10px solid black;
  transition: 500ms;
  animation-name: moveOne;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.clicker-target-1-col:hover .clicker-target-1{
  width: 10rem;
  height: 10rem;
  transition: 500ms;
}

.clicker-target-2{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #2600ff;
  border: 10px solid black;
  transition: 500ms;
  animation-name: moveTwo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.clicker-target-2-col:hover .clicker-target-2{
  width: 10rem;
  height: 10rem;
  transition: 500ms;
}

.clicker-target-3{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #2600ff;
  border: 10px solid black;
  transition: 500ms;
  animation-name: moveThree;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.clicker-target-3-col:hover .clicker-target-3{
  width: 10rem;
  height: 10rem;
  transition: 500ms;
}

.gun-token{
  height: 50px;
}

.marine-token, .elite-token{
  height: 100px;
}

.spartan-token{
  height: 200px;
}

@keyframes moveOne {
  0% {transform: translate(0px, 0px)}
  25% {transform: translate(-70px, -20px)}
  55% {transform:translate(0px, 40px)}
  75% {transform: translate(70px, 20px)}
  100% {transform: translate(0px,0px)}
}

@keyframes moveTwo {
  0% {transform: translate(0px, 0px)}
  35% {transform: translate(70px, -20px)}
  60% {transform:translate(0px, -40px)}
  80% {transform: translate(-70px, 20px)}
  100% {transform: translate(0px,0px)}
}

@keyframes moveThree {
  0% {transform: translate(0px, 0px)}
  15% {transform: translate(70px, -30px)}
  45% {transform:translate(0px, 40px)}
  60% {transform: translate(-70px, 30px)}
  100% {transform: translate(0px,0px)}
}

.locked-button{
  pointer-events: none;
  background-color: black;
  color: grey;
}

.locked-target{
  pointer-events: none;
  background-color: red;
}

.hidden {
  display: none;
}
